{{#flexberry-sidebar
  class="inverted vertical main menu"
  settings=(hash
  closable=false
  dimPage=false
  onShow=(action "updateWidth")
  onHidden=(action "updateWidth"))
}}
  <div class="header item">
    <a class="brand" href="#">Flexberry Ember Demo</a>
  </div>
  {{flexberry-sitemap sitemap=sitemap}}
{{/flexberry-sidebar}}
<div id="example-mobile" class="pusher">
  <div class="full height">
    <div class="ui top fixed inverted menu">
      <a {{ action 'toggleSidebar' }} class="launch icon item"><i class="sidebar icon"></i></a>
      <div class="right menu">
      </div>
    </div>
    <div class="flexberry-content ui attached segment">
      {{outlet}}
      {{outlet "modal"}}
    </div>
  </div>
</div>
