{{#if errorMessage}}
  {{ui-message
    type='error'
    closeable=true
    message=errorMessage
  }}
{{/if}}
<div class="ui message">
  <div class="header">
    {{t "forms.index.greeting"}}
    <p>
      <a href="tests/index.html">Tests</a>
    </p>
  </div>
</div>
