{{#if errorMessage}}
  {{ui-message
    type='error'
    closeable=true
    message=errorMessage
  }}
{{/if}}
<div class="ui message">
  <div class="header">
    {{t "forms.index.greeting"}}
  </div>
</div>
