<p>Performance</p>
<br/>
<br/>
Query execution time: {{queryExecTime}}ms, objects count: {{objectsCount}}
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="flexberry-edit-panel">
      <button type="submit" class="ui button" {{action 'clearStore'}}>
        Clear store
      </button>
    </div>
  </div>
</form>